django

djangorestframework
django-filter
django-colorfield
django-cors-headers

drf-spectacular

django-environ
django-storages[google]

psycopg2-binary

gunicorn

google-api-python-client
google-auth

pyyaml
model_bakery
Faker
httpx

opentelemetry-api
opentelemetry-sdk
opentelemetry-distro
opentelemetry-exporter-gcp-trace
opentelemetry-instrumentation
opentelemetry-resourcedetector-gcp
opentelemetry-semantic-conventions
opentelemetry-instrumentation-django
